BreakStringLiterals: false
ColumnLimit: 80
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 999
PenaltyBreakComment: 0
SortIncludes: true
UseTab: Never
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: true
